<h1>Hello, erb!</h1>

<div data-reflex-permanent>
  <%= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>
</div>

<a href="#"
  data-reflex="click->CounterReflex#increment"
  data-step="1"
  data-count="<%= @count.to_i %>"
>Increment <%= @count.to_i %></a>
